.footer {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: 2px solid red; */
  gap: 12px;
  align-items: center;
}

.about {
  /* border: 2px solid blue; */
  font-size: 0.78rem;
  font-weight: bold;
  color: rgb(62, 62, 62);
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 18rem;
    padding: 1rem 0;
    gap: 6px;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 3rem 0rem;
    margin-top: 8rem;
  }

  .about {
    font-size: 0.8rem;
    text-align: center;
        font-weight: 500;

    /* height: 0.8rem; */
  }

  .footer > :nth-child(4),
  .footer > :nth-child(6),
  .footer > :nth-child(7) {
    display: none;
  }
}
