.footer {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: 2px solid red; */
  gap: 4px;
  align-items: center;
}

.about {
  /* border: 2px solid blue; */
  padding: 2px;
  font-size: 0.78rem;
  font-weight: bold;
  color: rgb(62, 62, 62);
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 18rem;
    padding: 1rem 0;
    gap: 5px;
  }

  .about {
    font-size: 0.7rem;
    text-align: center;
    height: 0.8rem;
  }
}