.map-box {
  width: 100%;
  padding: 1.25rem 2.68rem;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 7px;
  height: 34.4rem;
  outline: none;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  outline: 1px solid rgba(0, 0, 0, 0.097);
}

@media (max-width: 600px) {
  .map-box {
    padding: 0.6rem 0.89rem;
  }
  .map-container{
    height: 25rem;
  }
}
