/* ================= HERO IMAGE ================= */

.img-container {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ================= MODEL INFO ================= */

.model-info {
  position: absolute;
  top: 12.5%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.model-info h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  white-space: none;
}

.model-info p {
  font-size: 1rem;
  color: #fff;
  white-space: none;
}

/* ================= BUTTON BAND ================= */

.band {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16.5px;
}

.band button {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 4px;
}

.order-btn {
  background: #3e6ae1;
  color: #fff;
}

.order-btn:hover {
  background: #3457b1;
}

.view-inv-btn {
  background-color: white;
  color: #000000d7;
}

.view-inv-btn:hover {
  background: rgb(245, 245, 245);
}

/* ================= HERO ARROWS ================= */

.hero-btn {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 2;
}

.hero-btn button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* ================= DOTS ================= */

.owlcarosal {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 2;
}

.owlcarosal button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.011);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .img-container {
    height: 82vh;
  }

  .model-info h1 {
    font-size: 2.5rem;
  }

  .band {
    top: 26%;
  }

  .band button {
    width: 222px;
    max-width: 90%;
  }

  .hero-btn {
    display: none;
  }
}

@media (max-width: 600px) {
  .img-container {
    position: absolute;
    top: 0;
  }
  
  .model-info h1 {
    font-size: 2.2rem;
  }
  
}


    