.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  height: 70%;
  width: 100%;
  flex-direction: column;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.model-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  gap: 2px;
}

.model-info h1 {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.model-info p {
  font-size: 1rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.band {
  display: flex;
  position: absolute;
  top: 30%;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.band button {
  outline: none;
  border: none;
  width: 180px;
  /* width: auto; */
  height: 38px;
  border-radius: 4px;
  outline: 1px solid rgba(0, 0, 0, 0.012);
  font-weight: bold;
}

button.order-btn {
  background-color: rgba(51, 86, 201, 0.863);
  color: white;
}

button.order-btn:hover {
  background-color: rgba(46, 78, 184, 0.863);
}

button.view-inv-btn {
  color: rgb(51, 51, 51);
}

button.view-inv-btn:hover {
  background-color: rgb(233, 233, 233);
}

.hero-btn {
  display: flex;
  position: absolute;
  top: 50%;
  gap: 65rem;
}

.hero-btn button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.owlcarosal {
  display: flex;
  position: absolute;
  top: 94%;
  gap: 8px;
}

.owlcarosal button {
  outline: none;
  border: none;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

@media (max-width: 1200px) {
  .hero-btn button {
    display: none;
  }
}

@media (max-width: 1000px) {
    .band button {
     width: 160px;
  }
}

@media (max-width: 600px) {
  .img-container {
    top: 0%;
  }

  .band button {
    width: 245px;
  }

  .model-info h {
    font-size: 2.5rem;
  }

  .img-container {
    height: 82%;
  }

  .band {
    top: 25%;
  }
}

@media (max-width: 550px) {
    .band button {
     width: 220px;
  }
}

@media (max-width: 500px) {
    .band button {
     width: 200px;
  }
}