/* ================= HERO IMAGE ================= */

.img-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* SAME */
  object-position: center;
  /* SAME */
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
  z-index: 1;
}

/* ================= MODEL INFO ================= */

.model-info-top {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 6;
}

.model-info-top h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  white-space: normal;
}

.model-info-top p {
  font-size: 0.95rem;
  color: #fff;
  white-space: normal;
}

/* ================= BUTTON BAND ================= */

.band {
  position: absolute;
  z-index: 10;
  top: 30%;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16.5px;
}

.band button {
  width: 195px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  padding: 4px;
}

.order-btn {
  background: #3E6AE1;
  color: #fff;
}

.order-btn:hover {
  background: #3457b1;
}

.view-inv-btn {
  background-color: #ffffff;
  color: #000000d7;
}

.view-inv-btn:hover {
  background: rgb(245, 245, 245);
}

/* ================= HERO ARROWS ================= */

.hero-btn {
  position: absolute;
  top: 50%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 2;
}

.hero-btn button {
  width: 40px;
  height: 40px;

  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* ================= DOTS ================= */

.owlcarosal {
  position: absolute;
  bottom: 16px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 2;
}

.owlcarosal button {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.01);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {
  .hero-btn {
    display: none;
  }
}

@media (max-width: 770px) {
  .band {
    top: 30%;
  }

  .band button {
    width: 242px;
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .img-container {
    margin-top: -56px;
    margin-bottom: 8px;
    height: calc(72.58vh + 56px);
    height: 82vh;
  }

  .img-container img {
    object-position: top center;
  }
.band{
      top: 26%;

}
  .model-info-top h1 {
    font-size: 2.4rem;
  }
}
