#offers-sec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  padding: 1.5rem 2.8rem;
  /* flex-wrap: wrap; */
  gap: 20.5px;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
}

/* ================= BOX ================= */

.box {
  /* border: 1px solid orange; */
  width: 34rem;
  height: 16rem;
  display: flex;
  gap: 0.6rem; /* rem */
  background-color: rgb(235, 235, 235);
  border-radius: 0.45rem; /* rem */
  overflow: hidden;
  justify-content: space-between;
  align-items: streatch;
  /* border: 1px solid blue; */
}

/* ================= INFO ================= */

.offerinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* padding: 0.75rem 0 0.75rem 1.6rem; */
  padding: 1rem;
  justify-content: center;
  font-weight: bold;
  text-align: left;
  /* border: 1px solid blue; */
}

.offerinfo h2 {
  font-size: 2rem;
  color: #171a20;
}

.offerinfo p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.705);
  width: auto;
}

.offerinfo button {
  /* margin-top: 1rem; */
  width: 250px;
  height: 37px;
  border: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.836);
  font-size: 0.875rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: bold;
}

.offerinfo button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

/* ================= IMAGE ================= */

.offer-img {
  min-width: 11rem;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-img picture,
.offer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  #offers-sec {
    padding: 1.5rem 2rem;
  }

  .offer-img {
    display: none;
  }
  .offerinfo h2 {
    font-size: 1.8rem;
  }

  .offerinfo p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #offers-sec {
    padding: 18.5px 12px;
    flex-wrap: wrap;
  }
  .offer-img {
    display: flex;
    width: 100%;
    height: 12rem;
  }
  .offerinfo {
    width: 100%;
    justify-content: center;
  }
  .box {
    flex-wrap: wrap-reverse;
    height: 22rem;
    gap: 0px;
  }

  .offerinfo h2 {
    font-size: 1.6rem;
  }
  .offerinfo p {
    font-size: 1rem;
    font-weight: 100;
    font-size: 1rem;
    /* height: 49px; */
  }

  .offerinfo button {
    width: 264px;
  }
}
